.Twilio-MessageCanvasTray-default {
    border-top: 1px solid rgba(10, 10, 10, 0.2);
}

.Twilio-MessageBubble-Body {
    font-size: 13px !important;
}

.Twilio-MessageBubble-Body li {
    margin-left: 15px;
}

.Twilio-EntryPoint {
    display: none;
}
